<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.gameproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameAppProject"
        android:usesCleartextTraffic="true">
        <activity android:name=".Admin.GameManager" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MakingCharacter" />
        <activity android:name=".Game.Start_Game_Activity" />
        <activity android:name=".Game.Online.OnlineGameListActivity"/>
        <activity android:name=".Game.Offline.OfflineGameListActivity"/>
    </application>

</manifest>